@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

htnl{
	font-size: 13px
}

@plugin "daisyui";

@theme {
	--color-primary: #dc1436;
	--color-neutral: #8c8c8c;
	--color-darkk: #1b1b1b;
	--color-newGreen:#b9f641;
	--font-mont: 'Montserrat', 'sans-serif';
	--outline-none:'none';
}

@plugin "daisyui" {
	themes: black --default, dark --prefersdark, cupcake;
}

/* hide-scrollbar class */
.hide-scrollbar {
	scrollbar-width: none;
	/* Firefox */
	-ms-overflow-style: none;
	/* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
	/* Safari and Chrome */
}

@keyframes scroll-left {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-50%);
	}
}

.animate-scroll-left {
	animation: scroll-left 15s linear infinite;
}

/* Ensure autofill styles are consistently overridden across all states */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	box-shadow: 0 0 0px 1000px transparent inset !important;
	-webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
	background-color: transparent !important;
	transition: background-color 5000s ease-in-out 0s;
}

/* Fix autofill background and text color */

@media screen and (max-width: 500px) {

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus {
		-webkit-box-shadow: 0 0 0px 1000px #18181b inset !important;
		/* bg-zinc-900 */
		-webkit-text-fill-color: #ffffff !important;
		/* white text */
		transition: background-color 5000s ease-in-out 0s;
	}
}



/* Mobile (max-width: 767px) — text color white */
@media (max-width: 767px) {

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-text-fill-color: white !important;
		color: white !important;
	}
}

/* Desktop (min-width: 768px) — text color black */
@media (min-width: 768px) {

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-text-fill-color: black !important;
		color: black !important;
	}
}

/* Add to your global styles or tailwind.config.css */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* Reduce width */
.scrollbar-thin::-webkit-scrollbar {
	width: 4px;
}

/* Track background */
.scrollbar-thin::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle (thumb) */
.scrollbar-thin::-webkit-scrollbar-thumb {
	background-color: rgba(107, 114, 128, 0.4);
	/* gray-500 with opacity */
	border-radius: 4px;
}